.container
  %h1 Github Search
  .well
    %h3 Search Repositories
    %form{:method => 'POST'}
      %input.form-control{:name => "search", :placeholder => "Search here"}
    - if @repos
      %table.table.table-striped.table-condensed.table-hover
        %thead
          %th Repository
          %th Size
          %th Description
          %th Created
          %th Updated
        %tbody
        - @repos.each do |repo|
          %tr
            %td
              %a{href: repo.url}= repo.name
            %td= repo.size
            %td= repo.description
            %td= repo.created_at
            %td= repo.updated_at
